@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 html{ 
    font-size:10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White-: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}
 body{
    background-color:var(--Eggshell);
    position: relative;
    font-size:.2em;
    height: 100vh;
    font-family:Young Serif;

}
.center{
    font-weight: 400;
 } 
.main-section{
    border-radius:2rem;
    justify-content: space-between;
     font-family:Young Serif;
    font-weight: 400;
    width:700px;
    margin-left: 20rem;
}
 img{

    border-radius:.6rem;
    width:100%;
    height:34rem;
} 
.paragraph{
    width:100%;
    height:auto;
    font-size: 1.8rem;
}
.heading1{
    font-size:3rem;
    color:var(--Dark-Charcoal);
    font-family:Outfit;
    font-weight: 600;
    width:100%;
} 
.second-container{
    background-color: var(--Rose-White);
    height:15rem;
}
.heading2{
    color: var(--Dark-Charcoal);
    font-size:3rem;

}
li{
    font-size:1.7rem;
    color:var(--Wenge-Brown);
}
strong{
    color: var(--Dark-Charcoal);
    font-size: 1.7rem;
}
hr{
    color:var(--Light-Grey);
}
.nutrition-table{
    display:inline-block;
}
td{
    color:var(--Dark-Charcoal);
}
table{
    width:100%;
}
@media(max-width:998px)
{
 html,body{
    font-size:35%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
 }
 img{
    max-width: 100%;
    height: auto;
 }
 .heading1{
    max-width: 100%;
 }
}
@media(max-width:768px)
{
    html{
        font-size:20%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }
    img{
        max-width: 100%;
        height:auto;
    }
    .center-container{
        left:-150px;
    }
}